body {
    background-color: lightgray;
}

#suppliers_table {
    margin: 50px;
}

#suppliers_table table {
    border-collapse: collapse;
    width: 50%;
}

#suppliers_table td, 
#suppliers_table th {
    border: thin solid purple;
    text-align: center;
    padding: 5px;
}